.mainDiv-search h1{
    margin: 30px 0px 0px 35%;
    font-family: inherit;
    font-weight: 400;
    line-height: 1.1;
    color: inherit;
    font-size: 40px;
}

.mainDiv-search input{
    height: 30px;
    width: 80%;
    margin: 30px 0px 0px 0px;
}
.mainDiv-search p{
    font-size: 20px;
}